#main {
  display: flex;
  flex: 1;
}

#main>div {
  flex: 1;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  background: white;
  border-radius: 7px;
}

header {
  background: #D3D2EB;
  height: 5vh;
  margin-bottom: 1%;
  display: flex;
}

button {
  margin: 0 auto;
  height: 5vh;
  width: 50vw;
  margin-left: 30%;
  margin-top: 2%;
  border-radius: 7px;
  background: #101A3F;
  color: white;
  cursor: pointer;

}

.buttons-wrapper {
  min-width: 673px;
}

.open-button {
  background-color: #D3D2EB;
  color: #101A3F;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
}

.active,
.content {
  border-radius: 0px !important;
}

.active,
.open-button:hover {
  background-color: #101A3F;
  text-decoration: underline;
  color: #fff;
}

.open-button:after {
  color: #555;
  width: 100px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  width: 50vw;
  margin-left: 30%;
  border-radius: 7px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #101A3F;
}

#divSquads {
  background-color: #D3D2EB;
  margin-bottom: 10px;
  border-radius: 7px;
}

#divUsuarios {
  background-color: #D3D2EB;
  margin-bottom: 10px;
  border-radius: 7px;
}

#divEmpresas {
  background-color: #D3D2EB;
  margin-bottom: 10px;
  border-radius: 7px;
}

#divTrilhas {
  background-color: #D3D2EB;
  margin-bottom: 10px;
  border-radius: 7px;
}

#divNotific {
  background-color: #D3D2EB;
  margin-bottom: 10px;
  border-radius: 7px;
}


div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background: #D3D2EB;
  border-radius: 7px;
}

div::-webkit-scrollbar-thumb {
  background: #101A3F;
  border-radius: 7px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.squads {
  padding-left: 15px;
  color: #101A3F;
  font-weight: 600;
}

.kickoff {
  color: #70D66A;
  margin-top: 10px;
  font-weight: 600;
}

.riseup {
  color: #EC6B26;
  font-weight: 600;
}

.growup {
  color: #328B38;
  font-weight: 600;
}

.date {
  padding-left: 30px;
  font-size: 16px;
  font-weight: 0;
  color: black;
}

.edit-squads {
  background-color: #D3D2EB;
  color: #101A3F;
  font-weight: 600;
  border: 0;
  width: 300px;
  height: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  cursor: pointer;
}

/* nav */

.item-nav {
  display: flex;
  position: absolute;
  margin-left: 10vw;
}

.text-logo {
  margin-top: 1vh;
  font-weight: 600;
}

.logo {
  height: 25px;
}

.blue-logo {
  color: #101A3F;
}

.green-logo {
  color: #147e17
}

.nav-wrapper {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 85vw;
}

.notification {
  position: relative;
  height: 25px;
}

.user {

  height: 25px;
}

footer {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: 600px;
}

.profile-content {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #101A3F;
  margin: 25px;
  width: 170px;
  height: 280px;
  border-radius: 7px;
  margin-right: auto;
  margin-bottom: auto;
}

#profile-image {
  display: flex;
  resize: both;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 20%;
  margin-top: -120px;
  max-height: 250px;
  max-width: 250px;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  display: flex;
  color: white;
  position: absolute;
  font-weight: 400;
}

.profile-status {
  display: flex;
  color: white;
  position: absolute;
  font-size: small;
  top: 50%;
}

.profile-options {
  display: flex;
  background-color: #D3D2EB;
  color: #101A3F;
  height: 100px;
  width: 150px;
  border-radius: 7px;
  resize: both;
  margin-top: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-config {
  display: flex;
  position: absolute;
  cursor: pointer;
} 

.options-exit {
  display: flex;
  position: absolute;
  cursor: pointer;
  margin-top: 30%;
}