/******NAV******/
.container-flex{
    background-color: #d3d2eb;
}

#destaque{
    color:#FFFFFF;
    font-size: large;
}
/*Cosméticos*/
body{
    background-color: #101a3f;
}

#lista-de-trilhas{
    list-style: none;
    background-color: #d3d2eb;
    padding: 10px;
    font-size: 18px;
    color: #101a3f;
}

footer{
    color: #d3d2eb !important;
}
/*Flex-Box*/
#containerTrilha{
    color: #d3d2eb;
    max-width: 50%;
    margin: auto;
    margin-top: 30px;
}
.itemTrilha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
/*Botão*/
#addButton {
    margin: 10px;
    cursor: pointer;
    float: right;
}

#addButton:hover {
    color: salmon;
}


/* Modal */

/* The Modal (background) */

.containerModal{
    display: flex;
    margin: 0 auto;
}

.itemCenter {
    font-size: larger;
    font-weight: 700;
    flex: 0 1 auto;
    width: 400px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
.itemRight {
    flex: 0 1 auto;
    width: 100px;
    height: 100px;
    margin-left: auto;
}

#myModal {
    display: none; /* Hidden by default */
    color: #d3d2eb;
    border: 1px solid #d3d2eb;
    margin: 70px auto;
    max-width: 50%;
    height: 200px;
    border-radius: 3px;
    flex-direction: column;
    overflow: auto; /* Enable scroll if needed */
    z-index: 10;
}
#fade{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: none;
}
 
.itemFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    z-index: 11;
}

  
/* The Close Button */
  
#close:hover, #close:focus {
      cursor: pointer;
}

  /* Botoes Modal 


*/
#modalDelete, #modalCancel{
    background-color: #d3d2eb;
    color: #101a3f;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 700;
    z-index: 11;
}
#modalDelete:hover{
    background-color: salmon;
}
#modalCancel:hover{
    background-color: salmon;
}
  