#containerComentario {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#containerComentario .itemComentario {
    margin: 5px;
}

#comment-box, #post,#cancel {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}

ul {
    list-style-type: none;
}

#question-generator {
    border: none;
    background-color: #101A3F;
    color: #FFFFFF;
    padding: 15px;
    width: 30%;
}

#question-generator:hover{
    cursor: pointer;
    border: solid #FFFFFF;
}

#title-text-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

#comment-box {
    width: 600px;
    height: 100px;
    margin-top: 10px;
}

#title-box{
    width: 600px;
}

#title-text,#comment-text{
    border-radius: 40px;
    align-content: center;
    width: 180px;
    padding: 6px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101A3F;
}

