
.title{
    color: #d3d2eb;
    text-decoration: underline;
    text-align:left;
    display: inline;
}

input{
    width: 300px;
}

body{
    background-color: #101a3f;
}

nav{
    background-color: #d3d2eb;
}


input{
    width: 300px;
}

#exit-button{
    float: right;
}
.container-x{
    width: 80%;
    color:#d3d2eb;
    display: flex;
    flex-direction: row;
}

.containerLista{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
    width: 400px;
}

.containerInput{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
    width: 500px;
}

.inputDiv{
    margin: 20px;
}

#buttonDiv{
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.lista{
    list-style: none;
    background-color: #d3d2eb;
    font-size: 18px;
    color: #101a3f;
    width: 350px;   
}

.itemLista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid black;
}

#containerPrincipal{
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
    flex-wrap: wrap;
}

#ok-button{
    width: 64x;
    height: 64x;
    padding: 20px;
    cursor: pointer;
}