body {
  background-color: #101A3F;
  font-size: 16px;
}

.invisible {
  display: none;
}

.principal-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  margin:auto;
}

.first-line-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.second-line-wrapper {
  display:flex;
  justify-content: space-between;
}

nav{
  background-color: #D3D2EB !important;
}
