body {
  background-color: #101A3F;
}

.invisible {
  display: none;
}

.principal-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 95%;
  margin-left: 50px;
}

.first-line-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.second-line-wrapper {
  display:flex;
  justify-content: space-between;
}

