body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;

}

textarea{
    border-radius: 25%;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#comment-box, #post,#cancel {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}

ul {
    list-style-type: none;
}