body {
  background-color: #101A3F;
}

.invisible {
  display: none;
}

.principal-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 95%;
  margin-left: 50px;
}

.first-line-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#video-external,
#video-input {
  border-radius: 7px;

}

#video-player-title {
  color: #D3D2EB;
}


#trilha {
  display: flex;
  flex-direction: column;
  width: 428px;
  background-color: #D3D2EB;
  color: #101A3F;
  border-radius: 7px;
}

#title-trilha {
  text-align: center;
  border-bottom: 1px solid black;
  display: inline-block;
  font-size: 30px;
}



lesson:hover {
  cursor: pointer;
}


/* Display sumário com sub sumário */
ol {
  counter-reset: item
}

li {
  display: block
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

.lesson {
  display:flex;
  justify-content: space-between;
  margin-right: 10px;
  
}

.module {
  font-size: 23px;

}

.lesson {
  font-size: 20px;
}

