.title{
    color: #d3d2eb;
    text-decoration: underline;
    text-align:left;
}

input{
    width: 300px;
}

body{
    background-color: #101a3f;
}

nav{
    background-color: #d3d2eb;
}

footer{
    color: #d3d2eb !important;
}


#container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 800px;
}

.button{
    cursor: pointer;
    width: 64px;
    height: 64px;
}

.containerMain{
    color: #d3d2eb;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    font-weight: bolder;
    font-size: larger;
    width: 80%;
}

.input{
    width: 600px;
    height: 20px;
    border: solid 2px;

}

/* select {
    margin-bottom: 10px;
    margin-top: 10px;
  } */

.containerInput{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
    width: 500px;
}

.inputDiv{
    margin: 20px;
}

#buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
#lista{
    list-style: none;
    background-color: #d3d2eb;
    font-size: 18px;
    color: #101a3f;
    width: 350px;   
}

.itemLista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid black;
}

#containerPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
    flex-wrap: wrap;
}

#ok-button{
    width: 64x;
    height: 64x;
    padding: 20px;
    cursor: pointer;
}

@media (max-width: 500px){
    .input{
        width: 90%;
        height: 25px;
    }

    #container-buttons{
        width: 90%;
    }
  }