@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    background-color: #101A3F;
    overflow: hidden;
}

footer {
    color: #D3D2EB;
    float: right;
}

.nav-container {
    display: flex;
}

.item-nav {
    resize: both;
    padding-top: 2px;
    padding-left: 10%;
    font-weight: 800;

}

.nav-wrapper {
    position: absolute;
    top: 0px;
    right: 150px;
}

.text-logo {
    position: relative;
    bottom: 5px;
}

.logo {
    max-width: 100%;
    height: 25px;
}
.notification {
    position: relative;
    top: 0px;
    max-width: 100%;
    height: 25px;
}

.user {
    position: relative;
    top: 0px;
    max-width: 100%;
    height: 25px;
}

.profile-container {
    display: flex;
}

nav {
    background-color: #D3D2EB;
    resize: both;
    height: 5vh;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width:1000px){
    footer{
        font-size: 12px!important;
    }   
}