nav{
    background-color: #d3d2eb;
}

/******NAV******/
/* luca */

  .action-button {
      max-width: 18px;
      max-height: 18px;
    }

  .delete-button, .edit-button{
    cursor: pointer;
  }

  .checkbox-style {
    width: 25px;
    height: 25px;
  }

  .exit-button{
    width: 50x;
    height: 50px;
    float: right;
    color: #d3d2eb;
    background-color:#101a3f;
    cursor: pointer;
  }

  .next-button {
    width: 64x;
    height: 64px;
    padding: 20px;
    cursor: pointer;
  }

  .next-button-right{
    width: 64x;
    height: 64px;
    padding: 20px;
    cursor: pointer;
    float: right;
  }

  .container-x {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      font-weight: bolder;
      font-size: larger;
    
  }

  .itemColumn{
    display: flex;
    flex-direction: column;
  }
  
  
  /* finish luca */
  
  
  .container-flex{
      background-color: #d3d2eb;
  }
  
  #destaque{
      color:#FFFFFF;
      font-size: large;
  }
  /*Cosméticos*/
  body{
      background-color: #101a3f;
  }

  nav{
    background-color: #d3d2eb;
    }

 .title{
    color: #d3d2eb;
    margin-bottom: 20px;
    text-decoration: underline;
 }
  
  #lista-de-trilhas{
      list-style: none;
      font-size: 18px;
      color: #101a3f;
      background-color: #d3d2eb;
  }

  #container-lista{
    list-style: none;
    font-size: 18px;
    color: #101a3f;
}
  
  footer{
      color: #d3d2eb !important;
  }

  #containerTrilha{
    color: #d3d2eb;
    background-color: #101A3F;
    max-width: 50%;
    margin: auto;
    margin-top: 30px;
}
  .itemTrilha{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid black;
  }


  /*Botão*/

  .addButton-div{
    display: flex;
    justify-content: center;
  }

  #addButton {
      width: 50px;
      height: 50px;
      margin: 10px;
      cursor: pointer;
      text-align: center;
  }
  
  #addButton:hover {
      color: salmon;
  }
  
  
  /* Modal */
  
  /* The Modal (background) */
  
  .containerModal{
      display: flex;
      margin: 0 auto;
  }
  
  .itemCenter {
      font-size: larger;
      font-weight: 700;
      flex: 0 1 auto;
      width: 400px;
      height: 100px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
  .itemRight {
      flex: 0 1 auto;
      width: 100px;
      height: 100px;
      margin-left: auto;
  }
  
  #myModal {
    display: none; /* Hidden by default */
    color: #101a3f;
    border: 2px solid #101a3f;
    margin: 70px auto;
    max-width: 50%;
    height: 200px;
    border-radius: 3px;
    flex-direction: column;
    overflow: auto; /* Enable scroll if needed */
    z-index: 10;
    position:fixed;
    bottom: 40%;
    left:35%;
    background-color: #d3d2eb;
}

#title-container {
  text-align: center;
  justify-content: center;
  margin-left: 19px; 
}

#title-modal {
  padding:10px;
}

.fade{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: none;
}
  
.itemFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    z-index: 11;
}

    
  /* The Close Button */
    
  #close:hover, #close:focus {
        cursor: pointer;
  }
  
    /* Botoes Modal 
  
  
  */
    #modalConfirm, #modalCancel{
      background-color: #101a3f;
      color: #d3d2eb;
      padding: 15px;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 15px;
      font-weight: 700;
      z-index: 11;
  }
  #modalConfirm:hover{
      background-color: salmon;
  }
  #modalCancel:hover{
      background-color: salmon;
  }

  /* NOVA LISTA */
  
/* .lista{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 500px;
    padding: 20px;
    border: #101A3F solid 2px;
    border-radius: 5px;
    background-color: #D3D2EB;
} */

.user-div-squads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    font-weight: bold;
}

.nome{
    font-weight: bold;
}

.buttons-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-div img:nth-child(1){
    margin-right: 10px;
}

  @media (max-width:1000px){
    h2{
      font-size: 16px;
    }
  }
  @media(max-width:750px){
    .itemFlex{
      flex-wrap: wrap-reverse;
    }
    #myModal{
      padding: 5px;
    }
  }
  @media (max-width:600px){
    #modalDelete, #modalCancel{
      font-size: 12px;
    }
    h2{
      text-align: center;
    }
    #close{
      display: none;
    }
  }
  @media (max-width:500px){
    #containerTrilha{
      min-width: 250px !important;
      max-width: 250px;
      width: 250px;
    }

    .lista{
      width: 100%;
      padding: 15px;
    }

    .img{
      width: 50px;
      height: 50px;
    }

    #addButton{
      display: flex;
      justify-content: center;
    }
  }
  
  /* Tela ADM-3 */
  
  .title-mlw{
    color: #101a3f;
  }

  /* RESPONSIVIDADE TELA ADM PASSO 1 */

    @media (max-width: 500px){
      .container-x:nth-child(2) p:nth-child(1){
        text-align: center;
      }
      .container-x:nth-child(2) p:nth-child(2){
        display: none;
      }

    }