.containerTrilha{
	margin: 0 auto;
	display: flex;
}

.itemTrilha {
        flex: 1;
        margin: 5px;
        font-size: 1.5em;
    }

.itemLista {
    color: #101a3f;
    padding: 10px;
    border-bottom: solid 2px black;
}

body{
        background-color: #101a3f;
    }
h1{
    text-decoration: underline;
    font-size:larger;
}

#listaFases{
    width: 1800px;
    height: 210px;
    margin: 30px;
    background-color:  #d3d2eb;
}

#secaoTitulo{
     margin-top: 60px;
}

#textInput{
    margin-top: 20px;
    margin: 20px;
    width: 500px;
    color: #101a3f;
}

.iconDiv{
    float: right;
    width: 1250px;
}

#nextButton{
    cursor: pointer;
}


/* Entrega Trilha de Conhecimento 3 Adm */

#module-and-lesson-wrapper {
    width: 1230px;
    height: 520px;
    background-color: #d3d2eb;
    display: flex;
}

#center-wrapper {
    margin-top: 80px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

#modules-wrapper, #lessons-wrapper {
    width: 615px;
    display:flex;
    flex-direction: column;
}
#modules-wrapper {
    border-right: 2px solid black;
    border-radius: 15px;
  
}

#buttons-actions {
    width:1230px;
    display:flex;
    justify-content: space-between;
}

#buttons-actions img,.add-button {
    width:48px;
    height:48px;

}

.disabled {
    filter:opacity(0.20);
}

.title-mlw {
    font-size:25px;
    margin: 20px;
}

#add-module{
    position:absolute;
    left:880px;
    top:650px;
}

#add-lesson {
    position:absolute;
    top:650px;
    left:1480px;
}

#inputModule {
    width:90%;
    border-radius: 10px;
}

.input-module-wrapper {
    display:flex;
    flex-wrap: nowrap;
}

.input-module-buttons {
    width:30px;
    height:30px;
    display:flex;
}




