#grid1 {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "grid2"
      "grid3";
    grid-template-rows: 400px 200px;
    grid-template-columns: 250px;
    margin-left: 500px;

  } 

  #grid2 {
    grid-area: grid2;
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
    "head nav";
    grid-template-rows: 400px 200px;
    grid-template-columns: 675px 425px;
  }

  #grid3 {
    grid-area: grid3;
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
    "main footer sec1 sec2";
    grid-template-rows: 400px 200px;
    grid-template-columns: 250px 250px 350px 250px;
  }

  header{
    cursor: pointer;
    margin:10px;
    border: solid 2px;
    grid-area: head;
    background-color: aqua;
  } 

  header:hover{
    border: 5px solid;
  }

  nav{
    cursor: pointer;
    margin:10px;
    border: solid 2px;
    grid-area: nav;
    background-color: bisque;
  }

  nav:hover{
    border: 5px solid;
  }

  main{
    cursor: pointer;
    margin:10px;
    border: solid 2px;
    grid-area: main;
    background-color: blueviolet;
  }

  main:hover{
    border: 5px solid;
  }

  footer{
    cursor: pointer;
    margin:10px;
    border: solid 2px;
    grid-area: footer;
    background-color: aquamarine;
  }

  footer:hover{
    border: 5px solid;
  }

  .sec1{
    cursor: pointer;
    margin:10px;
    border: solid 2px;
    grid-area: sec1;
    background-color:blanchedalmond;
  }

  .sec1:hover{
    border: 5px solid;
  }

  .sec2{
    cursor: pointer;
    margin:10px;
    border: solid 2px;
    grid-area: sec2;
    background-color: blue;
  }

  .sec2:hover{
    border: 5px solid;
  }
